<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="dao.EmpDao">
<!--    Employee getEmpByEid(Integer id)-->
    <select id="getEmpByEid"  resultType="pojo.Employee">
    select eid,ename,age,sex from mybatis.employee where eid = #{eid}
  </select>
<!--    List<Employee> getALLEmp()-->
    <select id="getALLEmp"  resultType="pojo.Employee">
    select * from mybatis.employee
  </select>
<!--    void addEmp(Employee employee)-->
    <insert id="addEmp">
    insert  into mybatis.employee values(null,#{ename},#{age},#{sex})
  </insert>
<!--    void updateEmp(Employee employee)-->
    <update id="updateEmp">
  update mybatis.employee set ename=#{ename} ,age=#{age} ,sex=#{sex} where eid=#{eid}
  </update>
<!--    void deleteEmp(Integer id)-->
    <delete id="deleteEmp">
   delete from mybatis.employee where eid = #{eid}
  </delete>
</mapper>